fastapi
uvicorn

langgraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma

chromadb

sentence-transformers
transformers
torch
huggingface_hub

openai

python-dotenv
pydantic
requests

prometheus-fastapi-instrumentator

band-sdk
langchain-huggingface